<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	table tbody tr:nth-child(odd){background:#F4F4F4;}
	table tbody td:nth-child(even){color:#C00;}
	</style>
  </head>

  <body>
  <div th:replace="~{commons/bar::#topbar}"></div>
    <div class="container-fluid">
      <div class="row">
		  <div th:replace="~{commons/bar::#sidebar}"></div>
        	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="panel panel-default">
			  		<div class="panel-heading">
						<h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
			  		</div>
			  	<div class="panel-body">
				<form class="form-inline" role="form" style="float:left;" th:action="@{/admin/role_list}" method="post">
  					<div class="form-group has-feedback">
    					<div class="input-group">
      						<div class="input-group-addon">查询条件</div>
      							<input class="form-control has-success" type="text" placeholder="请输入查询条件">
						</div>
					</div>
  					<button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
				</form>
				<button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i class=" glyphicon glyphicon-remove"></i> 删除</button>
					<a type="button" class="btn btn-primary" style="float:right;" th:href="@{/admin/role_add}"><i class="glyphicon glyphicon-plus"></i> 新增</a>
				<br>
 				<hr style="clear:both;">
          			<div class="table-responsive">
            			<table class="table  table-bordered">
              				<thead>
                				<tr >
                  					<th width="30">#</th>
				  					<th width="30"><input type="checkbox"></th>
                  					<th>名称</th>
                  					<th width="100">操作</th>
                				</tr>
              				</thead>
              				<tbody>
							<li th:if="${#strings.isEmpty(pageInfo.getList())}">
								<tr>
									<td colspan="2">抱歉！没有查询到相关的数据！</td>
								</tr>
							</li>
							<li th:if="${not #strings.isEmpty(pageInfo.getList())}">
								<tr th:each="role: ${pageInfo.getList()}">
									<td th:text="${roleStat.index}"></td>
									<td><input type="checkbox"></td>
									<td th:text="${role.name}"></td>
									<td>
										<a th:href="@{/admin/assign_permission(roleid=${role.id})}" type="button" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-check"></i></a>
										<a th:href="@{/admin/role_delete(roleid=${role.id})}" type="button" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
							</li>
              				</tbody>
			  				<tfoot>
							<tr >
								<td colspan="6" align="center">
									<ul class="pagination">
										<li><a th:href="@{/admin/role_list/(pageNum=${pageInfo.getNavigateFirstPage()},keyword=${param.keyword})}">首页</a></li>
										<li><a th:href="@{/admin/role_list/(pageNum=${pageInfo.getPrePage()},keyword=${param.keyword})}">上一页</a></li>
										<li th:each="i: ${#numbers.sequence(0,pageInfo.getPages())}"
											th:class="${(pageInfo.getPageNum()) eq i} ? 'active' : ''">
											<a th:href="@{/admin/role_list/(pageNum=${i},keyword=${param.keyword})}">
												<span th:text="${i}"></span>
											</a>
										</li>
										<li><a th:href="@{/admin/role_list/(pageNum=${pageInfo.getNextPage()},keyword=${param.keyword})}">下一页</a></li>
										<li><a th:href="@{/admin/role_list/(pageNum=${pageInfo.getNavigateLastPage()},keyword=${param.keyword})}">尾页</a></li>
									</ul>
								</td>
							</tr>
							</tfoot>
            			</table>
          			</div>
			  	</div>
			</div>
			</div>
      </div>
    </div>
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/script/docs.min.js"></script>
        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
				    if ( $(this).find("ul") ) {
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
            });
            
            $("tbody .btn-success").click(function(){
                window.location.href = "assignPermission.html";
            });
        </script>
  </body>
</html>
